{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Приветствую в моем блоге!</h1>
  <p class="lead">Это простой пример блока с компонентом в стиле jumbotron для привлечения дополнительного внимания к содержанию или информации.</p>
  <hr class="my-4">
  <p>Использются служебные классы для типографики и расстояния содержимого в контейнере большего размера.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<div class="row">
    {% for post in posts %}
    <div class="col-md-4">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text">{{ post.content }}</p>
        <div class="card-footer">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg> {{post.likes}}
            <a href="#">{{post.author.username}}</a>
          </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}